
*{
  color: white;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100px;
}
.player-move{
  color: black;
  font-size: 40px;
}
.error-text{
  color: red;
}
.box{
  display: grid;
  grid-template-columns: 1fr;
  width: 300px;
  height: 400px;
  background-color: black;

}
.row1, .row2, .row3{
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: 40px;
}
.row1, .row2{
  border-bottom: 3px solid grey;
}
.row1 div, .row2 div, .row3 div{
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-left, .middle-left, .bottom-left, .top-middle, .middle-middle, .bottom-middle{
  border-right: 3px solid grey;
}
.top-left, .top-middle, .top-right, .middle-left, .middle-middle, .middle-right, .bottom-left, .bottom-right, .bottom-left{
  height: 130px;
}
.reset-button{
  background-color: rgb(0, 0, 0);
  border: none;
  border-radius: 20px;
  color: rgb(255, 255, 255);
  padding: 10px 126px;
  margin-top: 20px;
  margin-right: 1px;
  font-size: 20px;
  transition: background-color .05s, color .05s;
}
.reset-button:active{
  background-color: white;
  color: black;
}
